<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.n1ssy2.mapper.TeacherMapper">
    <select id="getCourseByTeacherId" resultType="com.n1ssy2.entity.Course">
        select a.*
        from course a left join teacher_course b on a.course_id = b.course_id
        where b.teacher_id = #{teacherId}
    </select>

    <insert id="createCheckinRecord">
        insert into checkin_record (checkin_id, student_id, checkin_time, checkin_status) values
        <foreach collection="checkinRecords" item="checkinRecord" separator=",">
            (#{checkinRecord.checkinId},#{checkinRecord.studentId},#{checkinRecord.checkinTime},#{checkinRecord.checkinStatus})
        </foreach>
    </insert>

    <insert id="addCourse">
        insert into course (course_id, course_name, begin_time, end_time) values
        (#{courseId}, #{courseName}, #{beginTime}, #{endTime})
    </insert>
</mapper>